<div class="container">
<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <div align="left"><%= message %></div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

    <div class="field">
      <%= form.label :category %>
      <%= select_tag(:category_id, options_for_select(categories), :prompt => "Select a category") %>
      <%= form.label :seller %>
      <%= select_tag(:seller_id, options_for_select(sellers), :prompt => "Select a category") %>
    </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>