<html>
    <body>
        <div align='center'>
            <p>This is you params:<p>
            <p>Name: <%= @name %></p>
            <p>Kind: <%= @kind %></p>
            <p>Mood:  <%= @pet.mood %></p>
            <p>Health: <%= @pet.health %></p>
            <p>Energy: <%= @pet.energy %></p>
            <p><a href="/pet/menu">Start game</a></p>
        </div>
            
    </body>
</html>
