<!DOCTYPE html>
<html>
  <head>
    <title>Scafold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% console %>
  <ul class="topnav">
    <li><%= link_to "Books", books_path %></li>
    <li><%= link_to "Sellers", sellers_path %></li>

    <% if current_user %>

      <li class="right"><%= link_to "Logout", logout_path %></li>
      <li class="right"><%= link_to "LogIn as:  #{current_user.email}", user_path(current_user) %> </li>
    <% else %>
    <li class="right"><%= link_to "LogIn", login_path %></li>
    <li class="right"><%= link_to "SignUp", signup_path %></li>
    <% end %>
  </ul>
  <div class="body_container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
  </body>
</html>
