<center><h1>Sign up</h1>

<center><%= form_with model: @user do |f|%>
  <%= f.label       :nickname %><br>
  <%= f.text_field  :nickname %><br>

  <%= f.label       :email %><br>
  <%= f.email_field  :email %><br>

  <%= f.label           :password %><br>
  <%= f.password_field  :password %><br>

  <%= f.label           :password_confirmation %><br>
  <%= f.password_field  :password_confirmation %><br>
  <br>
  <%= f.submit%>
<% end %>
