<html>
  <body>
  <div align='center'>
    <div>
    <p><%= @name %> knows next commands: walk, eat, sleep</p>
    <form action="/dogs/menu" method="POST">
      <label for="action">Input pets action</label>
      <input type="text" name="action" id="pet_action">
      <input type="submit" name="commit" value="GO">
    </form>
    </div>
    <div>
      <p> Statistic: </p>
      <p>Name: <%= @name %></p>
      <p>Kind: <%= @kind %></p>
      <p>Mood:  <%= @mood %></p>
      <p>Health: <%= @health %></p>
      <p>Energy: <%= @energy %></p>
    </div>
    <p>Status: <%= @status %>
    <div>
  </body>
</html>
