<p id="notice"><%= notice %></p>
<%= form_for @category do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <%= form.submit 'Update!' %>
<% end %>