<p id="notice"><%= notice %></p>
<h1>Create new category</h1>
<%= form_tag categories_path do %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :description %>
    <%= text_area_tag :description %>
  </div>
  <%= submit_tag 'Create!' %>
<% end %>